@model Tarea3_Bandas_Musicales.Models.Bandas_Musicales

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Bandas Musicales</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detalles</li>
    </ol>
</nav>

<div>
    <h4>Banda Musical</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaM_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaM_Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaM_Musical_Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaM_Musical_Genre)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaM_YearOfCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaM_YearOfCreation)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaM_Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaM_Country)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.BandaM_Id">Editar</a>
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>